.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 91.5vh;
  background-color: #161F30;
  padding: 1.5em;
}

button {
  margin: 10px;
}

.title{
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  color: #FFF;
  margin-bottom: 3em;
}

.container-buttons{
  display: flex;
  flex-direction: column;
  gap: 0.7em;
}

.tres{
  padding: 1em;
  background-color: #84B026;
  border: none;
  border-radius: 8px;
  font-size: 1em;
  font-weight: bold;
}

.pf{
  padding: 1em;
  background-color: #07C7F2;
  border: none;
  border-radius: 8px;
  font-size: 1em;
  font-weight: bold;
  color: #FFF;
}

.imuni{
  padding: 1em;
  background-color: #3D3D3D;
  border: none;
  border-radius: 8px;
  font-size: 1em;
  font-weight: bold;
  color: #FFF;
}

.header{
  display: flex;
}

.button-return {
  background-color: transparent;
  border: none;
  color: #FFF;
  margin-right: 4em;
  font-size: 1em;
}

.title-pages{
  color: #FFF;
  font-size: 28px;
  text-align: center;
}

.title-pf{
  color: #FFF;
  font-size: 28px;
  text-align: center;
  margin-left: 1em;
}

.container-inputs{
  display: flex;
  flex-direction: column;
  gap: 0.8em;
  margin-bottom: 1.5em;
}

.input{
  border: none;
  padding: 0.5em;
  background-color: transparent;
  border-bottom: 1px solid #FFF;
  color: #FFF;
}

.button-page{
  border: none;
  border-radius: 5px;
  background-color: #07C7F2;
  margin-top: 1rem;
  padding: 1em;
  color: #FFF;
  font-size: 0.8em;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 10px;
  width: 60%;
  max-width: 600px;
  text-align: center;
}

.signature-canvas {
  border: 1px solid #ccc;
  margin-top: 20px;
}

canvas {
  border: 1px solid #ccc;
  margin-top: 20px;
}